<p style="text-align: center">
    Adding same components again will create problems. Please avoid doing that. This issue will be resolved soon !!
</p>

<div class="scroll-top btn in" droppable [hidden]="enableDeleteOnDrag" [dragHintClass]="'drag-hint-scale'" [dragOverClass]="'bg-danger'"
    (onDrop)="onDeleteDrop($event)">
    <i class="fa fa-2x fa-trash faa-tada animated Icon-White" aria-hidden="true"></i>
</div>

<div class="row" [@ComponentListAnimation]="dashboardTiles.length">
    <div [class]="file.size" *ngFor="let file of dashboardTiles; let l = last" (onDragStart)="onDragStart()" (onDragEnd)="onDragEnd()"
        draggable [dragClass]="'drag-over'" [dragData]="file" droppable [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'"
        (onDrop)="onComponentDrop($event,file.position)">
        <div class="text-right">
            <i class="fa fa-arrows-h" (click)="changeColumnSize(file.position)"></i>
        </div>
        <div style="margin-bottom: 0  !important;" [id]="file.position" class="cardTile">
        </div>
    </div>
    <div class="col-md-6">
        <div [id]="000" [sh-context]="items" [sh-data-context]="dataCtxOne" (onBeforeMenuOpen)="onBefore($event)" class="cardTile">
            <!-- (<i class="fa fa-2x fa-plus Icon-Red" ></i>) -->
            <p style="padding-top: 25%;"> Right-Click here to add new components</p>
        </div>
    </div>
</div>